<mat-card class="mat-elevation-z0 card-container">
  <mat-card-content>
    <mat-grid-list cols="12">
      <mat-grid-tile [colspan]="4">
        <div class="imagen-container">
          <img class="imagen" [src]="data.partido.imagenLocal" />
          {{ data.partido.nombreLocal }}
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <h1>
          <strong class="mat-display-1">
            {{
              getResultadoPartido(
                data.partido.golesLocalId,
                data.partido.golesVisitanteId
              )
            }}
          </strong>
        </h1>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <div class="imagen-container">
          <img class="imagen" [src]="data.partido.imagenVisitante" />
          {{ data.partido.nombreVisitante }}
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-subtitle class="subtitle">
    Fecha {{ data.fecha.id }} | {{ data.fecha.canchaLocalidad }} |
    {{ data.fecha.fecha }} |
    {{ data.partido.horario }}
  </mat-card-subtitle>
  <mat-card-content class="card-content-container">
    <div class="mitad-container">
      <mat-list *ngFor="let item of data.partido.golesLocalId">
        <mat-list-item>
          <mat-icon class="icono">sports_soccer</mat-icon
          >{{ getJugadorName(item, data.partido.equipoLocalId) }}
        </mat-list-item>
      </mat-list>
      <mat-list *ngFor="let item of data.partido.amarillasLocalId">
        <mat-list-item>
          <div class="yellow-card"></div>
          {{ getJugadorName(item, data.partido.equipoLocalId) }}
        </mat-list-item>
      </mat-list>
      <mat-list *ngFor="let item of data.partido.rojasLocalId">
        <mat-list-item>
          <div class="red-card"></div>
          {{
            getJugadorName(item.jugadorId, data.partido.equipoLocalId)
          }}</mat-list-item
        >
      </mat-list>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="mitad-container">
      <mat-list *ngFor="let item of data.partido.golesVisitanteId">
        <mat-list-item>
          <mat-icon class="icono">sports_soccer</mat-icon>
          <span>
            {{ getJugadorName(item, data.partido.equipoVisitanteId) }}
          </span>
        </mat-list-item>
      </mat-list>
      <mat-list *ngFor="let item of data.partido.amarillasVisitanteId">
        <mat-list-item>
          <div class="yellow-card"></div>
          {{ getJugadorName(item, data.partido.equipoVisitanteId) }}
        </mat-list-item>
      </mat-list>
      <mat-list *ngFor="let item of data.partido.rojasVisitanteId">
        <mat-list-item>
          <div class="red-card"></div>
          {{
            getJugadorName(item.jugadorId, data.partido.equipoVisitanteId)
          }}</mat-list-item
        >
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
