<ng-template #clubesTemplate>
  <mat-expansion-panel
    *ngFor="let club of clubes"
    class="acordeon-conteiner"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <div class="club-content">
        <img class="imagen" [src]="club.imagen" />
        <mat-panel-title>
          {{ club.nombre }}
        </mat-panel-title>
      </div>
    </mat-expansion-panel-header>
    <table
      class="example-container"
      mat-table
      [dataSource]="club.jugadores"
      matSort
    >
      <ng-container matColumnDef="jugador" sticky>
        <th
          class="club-container"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Jugador
        </th>
        <td
          class="club-container"
          mat-cell
          *matCellDef="let element; let i = index"
        >
          {{ element.nombre }}
        </td></ng-container
      >
      <ng-container matColumnDef="goles">
        <th class="cells" mat-header-cell *matHeaderCellDef mat-sort-header>
          Goles
        </th>
        <td class="cells" mat-cell *matCellDef="let element">
          {{ element.goles }}
        </td>
      </ng-container>
      <ng-container matColumnDef="ta">
        <th class="cells" mat-header-cell *matHeaderCellDef mat-sort-header>
          TA
        </th>
        <td class="cells" mat-cell *matCellDef="let element">
          {{ element.ta }}
        </td>
      </ng-container>
      <ng-container matColumnDef="tr">
        <th class="cells" mat-header-cell *matHeaderCellDef mat-sort-header>
          TR
        </th>
        <td class="cells" mat-cell *matCellDef="let element">
          {{ element.tr }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-expansion-panel>
</ng-template>

<div *ngIf="loading; else clubesTemplate" class="loading-container">
  <img class="loading-svg" src="./assets/loading.svg" />
</div>
