.example-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.club-container {
  min-width: 180px;
}

.club-content {
  display: flex; 
  align-items: center; 
  height: 100%
}

table {
  width: 800px;
}

th.mat-column-pj,
td.mat-column-pj,
th.mat-column-g,
td.mat-column-g,
th.mat-column-e,
td.mat-column-e,
th.mat-column-p,
td.mat-column-p,
th.mat-column-puntos,
td.mat-column-puntos,
td.mat-column-gf,
th.mat-column-gf,
td.mat-column-gc,
th.mat-column-gc,
th.mat-column-dg,
td.mat-column-dg {
  padding-left: 8px;
  text-align: center;
}