<table class="example-container" mat-table [dataSource]="tarjetas">
  <ng-container matColumnDef="jugador" sticky>
    <th class="club-container" mat-header-cell *matHeaderCellDef>Jugador</th>
    <td
      class="club-container"
      mat-cell
      *matCellDef="let element; let i = index"
    >
      <b>{{ i + 1 }}</b>
      {{ element.jugador }}
    </td>
  </ng-container>

  <ng-container matColumnDef="club">
    <th class="cells" mat-header-cell *matHeaderCellDef>Equipo</th>
    <td class="cells" mat-cell *matCellDef="let element">
      {{ element.club }}
    </td>
  </ng-container>

  <ng-container matColumnDef="ta">
    <th class="cells" mat-header-cell *matHeaderCellDef>Tarjeta amarilla</th>
    <td class="cells" mat-cell *matCellDef="let element">
      {{ element.ta }}
      <div *ngIf="!element.ta">0</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="tr">
    <th class="cells" mat-header-cell *matHeaderCellDef>Tarjeta roja</th>
    <td class="cells" mat-cell *matCellDef="let element">
      {{ element.tr }}
      <div *ngIf="!element.tr">0</div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
