.loading-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.loading-svg {
  width: 150px;
  height: 150px;
}

.box {
  background-color: green;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
