<mat-toolbar color="accent" class="md-hue-2">
  <button
    mat-icon-button
    class="example-icon"
    (click)="sidenav.toggle()"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  La liga de las colonias
</mat-toolbar>
<mat-sidenav-container style="height: 100%">
  <mat-sidenav #sidenav mode="over">
    <mat-selection-list [multiple]="false">
      <mat-list-option [routerLink]="['/torneo']">
        <p class="items">
          <mat-icon class="icons">emoji_events</mat-icon>
          2022
        </p>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
