<mat-toolbar>La liga de las colonias </mat-toolbar>
<mat-sidenav-container style="height: 100%">
  <mat-tab-group mat-align-tabs="center" style="height: 100%">
    <mat-tab>
      <ng-template mat-tab-label> FIXTURE </ng-template>
      <mat-card>
        <app-fixture></app-fixture>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label> POSICIONES </ng-template>
      <app-posiciones></app-posiciones>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label> GOLEADORES </ng-template>
      <app-goleadores></app-goleadores>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label> TARJETAS </ng-template>
      <app-tarjetas></app-tarjetas>
    </mat-tab>
  </mat-tab-group>
  <!-- <router-outlet></router-outlet> -->
</mat-sidenav-container>
