.example-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.club-container {
  min-width: 150px;
  padding-left: 0px;
}
table {
  width: 800px;
}

.jugador-content {
  display: flex;
  align-items: center;
  height: 100%;
}

th.mat-column-club,
td.mat-column-club,
th.mat-column-goles,
td.mat-column-goles {
  padding-left: 8px;
  text-align: center;
}

.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.loading-svg {
  width: 150px;
  height: 150px;
}

.imagen {
  width: 30px;
  margin-right: 5px;
}

.indice {
  margin-right: 5px;
}
