mat-grid-tile {
  height: 60px;
  text-align: center;
}
mat-grid-list {
  height: 60px;
}

.tabs-group-content {
  height: 100%;
}

.card-container {
  margin-bottom: 5px;
}

.imagen {
  width: 100%;
}
