<mat-tab-group
  backgroundColor="accent"
  mat-align-tabs="center"
  style="height: 100%"
>
  <mat-tab>
    <ng-template mat-tab-label> FIXTURE </ng-template>
    <app-fixture
      [partidos]="(partidos$ | async) || []"
      [equipos]="(equipos$ | async) || []"
      [jugadores]="(jugadores$ | async) || []"
      [canchas]="(canchas$ | async) || []"
      [fechas]="(fechas$ | async) || []"
    ></app-fixture>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> POSICIONES </ng-template>
    <app-posiciones
      [partidos]="(partidos$ | async) || []"
      [equipos]="(equipos$ | async) || []"
    ></app-posiciones>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> GOLEADORES </ng-template>
    <app-goleadores
      [partidos]="(partidos$ | async) || []"
      [equipos]="(equipos$ | async) || []"
      [jugadores]="(jugadores$ | async) || []"
    ></app-goleadores>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> TARJETAS </ng-template>
    <app-tarjetas
      [partidos]="(partidos$ | async) || []"
      [equipos]="(equipos$ | async) || []"
      [jugadores]="(jugadores$ | async) || []"
    ></app-tarjetas>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> CLUBES </ng-template>
    <app-club
      [partidos]="(partidos$ | async) || []"
      [equipos]="(equipos$ | async) || []"
    ></app-club>
  </mat-tab>
</mat-tab-group>
