<mat-tab-group
  backgroundColor="accent"
  mat-align-tabs="center"
  style="height: 100%"
>
  <mat-tab>
    <ng-template mat-tab-label> FIXTURE </ng-template>
    <app-fixture [torneos]="(torneos$ | async) || []"></app-fixture>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> POSICIONES </ng-template>
    <app-posiciones [torneos]="(torneos$ | async) || []"></app-posiciones>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> GOLEADORES </ng-template>
    <app-goleadores [torneos]="(torneos$ | async) || []"></app-goleadores>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> TARJETAS </ng-template>
    <app-tarjetas [torneos]="(torneos$ | async) || []"></app-tarjetas>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> CLUBES </ng-template>
    <app-club [torneos]="(torneos$ | async) || []"></app-club>
  </mat-tab>
</mat-tab-group>
